$slateBlue: #074f7b;
$slateBlue-1: #074f7b;
$slateBlue-2: #074f7b;
$slateBlue-3: #074f7b;
$slateBlue-4: #074f7b;
$lightBlue: #2688c6;
$lightBlue-1: #2688c6;
$lightBlue-2: #2688c6;
$lightBlue-3: #2688c6;
$lightBlue-4: #2688c6;
$greenSlate: #00a390;
$darkSlate: #586e88;
$lightSlate: #d1d2d4;
