@import url('../variables.scss');

.header-wrapper {
  font-family: 'CircularStd', sans-serif;
  font-weight: 500;
  border: 1px solid #f00;
  position: fixed;
  width: 100%;
  background-color: blue;
  height: 150px;
  div { border: red 1px; }

  .wrapper {
    width: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 150px;
    margin: auto;
  }
}

.header-tab {
  flex-grow: 1;
  vertical-align: middle;
  display: inline-block;
  background-color: rgba(78, 98, 156, 0.49);
}

.header-tab-button {
  flex-grow: 1;
  vertical-align: middle;
  display: inline-block;
  background-color: rgba(143, 156, 80, 0.49);
}

.top-header-wrapper {
  width: 100%;
  order: 1;
  flex-grow: 1;
  background-color: #5fff30;
}

.bottom-header-wrapper {
  width: 80%;
  order: 2;
  flex-grow: 2;
  background-color: #ff4a4a;
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
}

